
<%-include('../Include/header.ejs') %>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>
   <%-include('../Include/navigation.ejs') %>
   <h1>Home page</h1>


<%-include('../Include/footer.ejs') %>
