
form{
   width:390px;
   margin: 30px auto;
   box-shadow: 1px 1px 3px 2px black;
   padding: 10px;
   text-align: center;
}
h2{
   text-align: center;
}
.input{
   width: 95%;
   margin: 6px;
   border-radius:3px;
   padding: 3px;
   font-size: 17px;
}

#btn{
   width:75%;
   margin: 3px;
   border-radius:3px;
   padding: 3px;
   font-size: 17px;
}
